#gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  margin: -15px;
  list-style: none;
}

.item {
  width: calc((100% - 15px * 6) / 3);
  margin: 15px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
